
<div class="alert alert-warning" role="alert">
	<strong>Gihub</strong> take a look the code <a href="https://github.com/gon250/City-Bike-Angular">here</a>
	<br>
	Twiter: <a href="http://twitter.com/gon250" target="_black">@gon250</a>
	<br>
	Check my pebble app for the bike service: <a href="pebblecitybikes.com" target="_blank">pebble</a>
</div>

<div class="row">
	<div class="col-md-12">
		<input type="text" class="form-control" placeholder="Search your city" ng-model="query">
	</div>
</div>

<br><br>

<div class="list-group">
  <a href="#details/{{place.id}}" class="list-group-item" ng-repeat="place in places | filter:query">
    <h4 class="list-group-item-heading">{{place.location.city}} - <span class="label label-primary">{{place.location.country}}</span>
    </h4>
    <p class="list-group-item-text">
    	place.name
    </p>
  </a>
</div>


